.body__main--part {
    width: 90%;
    height: fit-content;
    margin: 5rem 5%;
    border: 2px solid rgb(231, 193, 121);
    border-radius: 5px;
    padding: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body__main--part-ctn {
    display: flex;
    flex-direction: column;
}

.body__main--part-img {
    width: 50%;
    height: auto;
    border-radius: 5px;
    margin-right: 2%;
}

.body__main--part-ctn-title {
    font-family: "exo2";
    font-size: 1.5rem;
    color: rgb(63, 57, 46);
    margin-bottom: .5rem;
}

.body__main--part-ctn-intro {
    font-size: 1.1rem;
    font-family: Roboto;
    margin-bottom: .2rem;
    margin-left: .5rem;
}

.body__main--part-ctn-btn {
    margin: 1rem 2rem;
    padding: .5rem;
    background-color: rgb(231, 193, 121);
    border-radius: 5px;
}

#entreprise, #services, #rh {
    height: 75vh;
    width: 105%;
    background-color: black;
    position: relative;
    top: 14vh;
    left: 5%;
}

.body__dialog--close {
    color: #f1f1f1;
    position: relative;
    top: 2.5rem;
    left: 25rem;
    font-weight: 900;
    font-size: 2rem;
}

.body__dialog--ctn {
    background-color: #f1f1f1;
    margin-top: 5rem;
    margin-left: 5%;
    width: 90%;
    height: fit-content;
    padding: 1rem;
    overflow-y: auto;
}

.body__dialog--ctn-title {
    color: rgb(63, 57, 46);
    font-family: "exo2";
    font-family: 2.5rem;
    margin: 2rem 0;
}

.body__dialog--ctn-text {
    font-size: 1.5rem;
    font-family: "Roboto";
    margin-bottom: 1rem;
}

.body__dialog--close-btn {
    width: 40%;
    height: 3rem;
    margin-left: 30%;
    margin-top: 5rem;
    font-size: 1.5rem;
    font-family: "exo2";

}